/*
 * By using this application, you are bound the license agreement set forth on
 * this page: http://docs.forwardfour.com/index.php/License
 *
 * Portions of this code were adapted from the admin-skin theme from: 
 * http://www.netdreams.co.uk/
*/

/*
General
---------------------------------------
*/

img {
	border: 0;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
}

/* A fix for new HTML5 elements which are not compatable with older browsers */
header, nav, section, article, figure, figcaption, aside, footer {
	display: block;	
}

/* CSS replacements for the align attribute, which is deprecated in HTML5 */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* A collection of CSS replacements for the width attribute, which is deprecated in HTML5 */
.width25 {
	width: 25px;
}

.width50 {
	width: 50px;
}

.width75 {
	width: 75px;
}

.width100 {
	width: 100px;
}

.width125 {
	width: 125px;
}

.width150 {
	width: 150px;
}

.width175 {
	width: 175px;
}

.width200 {
	width: 200px;
}

.width250 {
	width: 250px;
}

.width300 {
	width: 300px;
}

.width350 {
	width: 350px;
}

.width400 {
	width: 400px;
}

.width500 {
	width: 500px;
}

.percent25 {
	width: 25%;
}

.percent50 {
	width: 50%;
}

.percent75 {
	width: 75%;
}

.percent100 {
	width: 100%;
}

/* Visibility options */
.hide {
	display: none;
}

.collapse {
	height: 0px;
	visibility: hidden;
}

.show {
	display: block;
}

/* Misc visual enhancements */
.spacer {
	padding: 30px 0px 80px 0px;
	text-align:center;
}

.loader {
	background: url(../images/common/loader.gif) left no-repeat;
	padding: 10px 0px 0px 75px;
	display: inline-block;
	height: 30px;
	min-height: 30px;
	font: 18px bolder;
}

.highlight {
	background-color: yellow;
}

/*
Validation and validation fallback
---------------------------------------
*/

.require {
	color: #FF0000;
}

.invalid {
	border: #972324 solid 3px;
	box-shadow : 0px 0px 3px #972324;
}

/*
Toolbar
---------------------------------------
*/

ul.toolbar {
	margin: 7px 0px 7px 0px;
	padding: 0px 5px 0px 5px;
	background: #eee;
	border: #ccc solid 1px;
	min-height: 30px;
	height: 30px;
}

ul.toolbar li {
	display: inline-block;
	padding-top: 10px;
	padding-left: 7px;
}

/*
Toolbar sample icon set
---------------------------------------
*/

ul.toolbar li a {
	background-position: left;
	padding-top: 7px;
	padding-left: 30px;
	padding-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}

ul.toolbar li a.new {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px 0px;
}

ul.toolbar li a.new:hover {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -22px;
}

ul.toolbar li a.settings {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -44px;
}

ul.toolbar li a.settings:hover {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -66px;
}

ul.toolbar li a.search {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -88px;
}

ul.toolbar li a.search:hover {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -110px;
}

ul.toolbar li a.back {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -132px;
}

ul.toolbar li a.back:hover {
	background: url(../images/common/toolbar_sprite.png) no-repeat;
	background-position: 0px -154px;
}

/*
Data table styles
---------------------------------------
*/

.dataTable {
	margin-bottom: 20px;
	border: 0px;
	padding: 0px;
	width: 100%;
	clear:both;
}

.dataTable tr th {
	border: 1px solid #373737;
	height: 50px;
	background: url(../images/table/header_background.jpg) repeat-x;
	padding: 0px;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	padding-left: 10px;
	text-align: center;
}

.dataTable tr th a.sort {
	background: url(../images/table/sort_arrow.gif) right no-repeat;
	margin: 0 0 0 10px;
	padding: 0 10px 0 10px;
}

.dataTable tr th a:hover {
	color: #94b52c
}

.dataTable td {
	border: 1px solid #d2d2d2;
	padding: 10px;
}

.dataTable td a {
	color: #393939;
}

.dataTable td a:hover {
	text-decoration: underline;
}

.dataTable tr.odd {
	background: #ffffff;
}

.dataTable tr.even {
	background: #ececec;
}

.dataTable tr:hover {
	background: #e3eceb;
}

/*
Data table sample icon set
---------------------------------------
*/

.dataTable a.dragger {
	background: url(../images/common/actions_sprite.png) left no-repeat;
	display: inline-block;
	height: 22px;
	width: 12px;
	margin: 0px 2px 0px 2px;
	background-position: -5px 0px;
}

.dataTable a.dragger:hover {
	background-position: -28px 0px;
	cursor: url(../images/cursors/grab.cur), default;
	text-decoration: none;
}

.dataTable a.dragger:active {
	cursor: url(../images/cursors/grabbing.cur), default;
	text-decoration: none;
}

.dataTable a.eyeShow {
	background: url(../images/common/actions_sprite.png) left no-repeat;
	display: inline-block;
	height: 14px;
	width: 22px;
	margin: 0px 2px 3px 2px;
	background-position: 0px -87px;
	cursor: pointer;
}

.dataTable a.eyeShow:active {
	background-position: -22px -87px;
	text-decoration: none;
}

.dataTable a.info {
	background: url(../images/common/actions_sprite.png) top left no-repeat;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 0px 2px 0px 2px;
	background-position: 0px -22px;
	cursor: pointer;
}

.dataTable a.info:hover {
	background-position: -22px -22px;
	text-decoration: none;
}

.dataTable a.edit {
	background: url(../images/common/actions_sprite.png) top left no-repeat;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 0px 2px 0px 2px;
	background-position: 0px -44px;
	cursor: pointer;
}

.dataTable a.edit:hover {
	background-position: -22px -44px;
	text-decoration: none;
}

.dataTable a.delete {
	background: url(../images/common/actions_sprite.png) top left no-repeat;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 0px 2px 0px 2px;
	background-position: 0px -66px;
	cursor: pointer;
}

.dataTable a.delete:hover {
	background-position: -22px -66px;
	text-decoration: none;
}