/*
General
---------------------------------------
*/

img {
	border: 0;
}

textarea {
	font-family: Arial;
}

span.require {
	color: #FF0000;
}

/* CSS replacement for the align attribute which is deprecated in HTML5 */
.center {
	text-align: center;
}

.hide {
	display: none;
}

.collapse {
	height: 0px;
	visibility: hidden;
}

.show {
	display: block;
}

/*
Data Table Styles
---------------------------------------
*/

#dataTable {
	margin-bottom: 20px;
	border: 0px;
	padding: 0px;
	width: 100%;
}

#dataTable tr th {
	border: 1px solid #373737;
	height: 50px;
	text-align: left;
	background: url(../images/table/header_background.jpg) repeat-x;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
}

#dataTable tr th {
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	padding-left: 10px;
}

#dataTable tr th a.sort {
	background: url(../images/table/sort_arrow.gif) right no-repeat;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}

#dataTable tr th a:hover {
	color: #94b52c
}

#dataTable td {
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
}

#dataTable td a {
	color: #393939;
}

#dataTable td a:hover {
	text-decoration: underline;
}

#dataTable tr.odd {
	background: #ffffff;
}

#dataTable tr.even {
	background: #ececec;
}

#dataTable tr:hover {
	background: #e3eceb;
}