<IfModule mod_rewrite.c>
	RewriteEngine On

# If a specific file JavaScript does not exist, check to see if it ends with a PHP extension before giving a 404 error
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteRule ^(.+)\.js$ $1.js.php [NC,L]
</IfModule>